<!DOCTYPE html>
<html>

<body>
  <h1>{{this.title}}</h1>
  <h2>{{this.list_title}}</h2>

  <ul>
    {{#each this.list}}
    <li>{{this}}</li>
    {{/each}}
  </ul>

  <hr> Test text:
  <br> {{test}}
</body>

</html>